body {
	font-family: "Gotham";
}

.site {
	width: 100vw;
	height: 340vh;
	display: grid;
	grid-template-rows: 100vh 75vh 75vh 75vh 15vh;
	grid-template-columns: auto;
	
	grid-template-areas:
		"grad grad"
		"desc desc"
		"text_a graph_a"
		"graph_b text_b"
		"footer footer"
}

.grad {
	display: grid;
	grid-area: grad;
	grid-template-rows: 2fr 3fr;
	background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364 100%);
}

.title {
	grid-row: 1;
	align-self: end;
	justify-self: center;
	text-align: center;
	color: #f8f9fa;
	padding: 2rem;
	padding-bottom: 1rem;
}

.map {
	grid-row: 2;
	background-image: url("../Images/world.png");
	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 2rem;
	padding-top: 1rem;
}

h1 {
	font-family: "Gotham Ultra";
	font-size: 3.2em;
}

h2 {
	font-weight: 100;
	font-style: normal;
	font-size: 1.6em;
}

.desc {
	grid-area: desc;
	background-color: #f8f9fa;
	padding: 2rem;
}

.text_a {
	grid-area: text_a;
	background-color: #f8f9fa;
	padding: 4rem;
}

.text_b {
	grid-area: text_b;
	background-color: #f8f9fa;
	padding: 4rem;
}