body {
	font-family: "Gotham";
}

.site {
	width: 100vw;
	height: 250vh;
	display: grid;
	grid-template-rows: 100px calc(100vh - 100px) 1fr 1fr 100px;
	grid-template-columns: auto;
	
	grid-template-areas:
		"navbar navbar"
		"grad grad"
		"desc desc"
		"text graph"
		"footer footer"
}

.navbar {
	grid-area: navbar;
	padding-left: 0px;
	padding-right: 0px;
}

.grad {
	display: grid;
	grid-area: grad;
	grid-template-rows: 1fr 1fr;
	background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364 100%);
}

.title {
	align-self: center;
	justify-self: center;
	grid-row: 1;
	color: #f8f9fa;
	padding: 3rem;
}

.map {
	align-self: center;
	justify-self: center;
	grid-row: 2;
	padding: 3rem;
}

.map > img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

h1 {
	font-family: "Gotham Ultra";
	font-size: 4em;
}

h2 {
	font-weight: 100;
	font-style: normal;
	font-size: 2em;
}

.desc {
	grid-area: desc;
	background-color: #f8f9fa;
	padding: 3rem;
}