body {
	font-family: "Gotham";
}

.site {
	width: 100vw;
	height: 250vh;
	display: grid;
	grid-template-rows: 100px calc(100vh - 100px) 1fr 1fr 100px;
	grid-template-columns: auto;
	
	grid-template-areas:
		"navbar navbar"
		"grad grad"
		"desc desc"
		"text graph"
		"footer footer"
}

.navbar {
	grid-area: navbar;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-brand > img {
	padding-left: 4rem;
	height: 72px;
}

.nav-item {
	padding-right: 2rem;
	padding-left: 2rem;
}

.grad {
	display: grid;
	grid-area: grad;
	grid-template-columns: 2fr 3fr;
	background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364 100%);
}

.title {
	align-self: center;
	justify-self: left;
	grid-column: 1;
	color: #f8f9fa;
	padding: 4rem;
	padding-right: 2rem;
}

.map {
	grid-column: 2;
	background-image: url("../Images/world.png");
	background-origin: content-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 4rem;
	padding-left: 2rem;
}

.map > img {
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;
}

h1 {
	font-family: "Gotham Ultra";
	font-size: 4em;
}

h2 {
	font-weight: 100;
	font-style: normal;
	font-size: 2em;
}

@media screen and (min-width: 992px) and (max-width: 1297px) {
		h1 {
		font-family: "Gotham Ultra";
		font-size: 3.2em;
	}
	
	h2 {
		font-weight: 100;
		font-style: normal;
		font-size: 1.6em;
	}
}

.desc {
	grid-area: desc;
	background-color: #f8f9fa;
	padding: 4rem;
}